# Dependências (Nunca envie para o Git)
node_modules/
/.pnpm-store
.yarn-integrity

# Pastas de Build / Produção
dist/
build/
.next/
out/

# Arquivos de Log e Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.stylelintcache

# Variáveis de Ambiente (Segurança: Contém senhas e chaves de API)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Configurações de Editores / IDEs
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos do Sistema Operacional
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
